
.body{
    
    background-image: url('../image/logo.jpg');
    width:100%;
    height:750px;
    margin-top: 0;
    text-align: center;

}
 .box 
{
    margin-top: .5%;
}
header{
     margin-top: 0;
}
.content{
    margin-top: 0;
}

.box {
    height:30px;
    border:none;
    border-bottom: 1px solid red;
}


